{namespace jms.templates.dic_visualizer}

/**
 * Renders the attribution node on the DIC visualizer page
 */
{template .attribution}
    <div id="jms-dic-attr">
        (C) 2011 Johannes M. Schmitt <schmittjoh@gmail.com> - All rights reserved.
    </div>
{/template}